language: node_js
node_js:
  - 16
services:
  - docker

before_install:
  - docker build -t moushly/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true moushly/docker-react npm run test
